.Login ul  {
    list-style: none;
    margin: 0;
    padding: 0;
}

.Login li {
    display: inline-block;
    margin: 20px;
}

.Login a {
    text-decoration: none;
    color: black
}

.Login a:hover,
.Login a:active,
.Login .active,
.Login .my-home-active {
    color: orange;
}

.Login .email{
    float: left;
}